/*-- scss:defaults --*/

// Fonts
// @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
// $font-family-sans-serif: "Lato", sans-serif !default;
// $presentation-heading-font: "Lato", sans-serif !default;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');
$font-family-sans-serif: "IBM Plex Sans", sans-serif !default;
$presentation-heading-font: "IBM Plex Sans", sans-serif !default;

/* Colour palette */
$dark-red: #780000;
$light-red: #c1121f;
$dark-blue: #002339;
$light-blue: #aad7ff;

$body-bg: #fdf0d5;
$body-color: $dark-blue;
$link-color: $dark-red;
$link-color-hover: darken($dark-red, 10%);
$heading-color: $dark-blue;
$code-color: #780050;
$font-family-code: "IBM Plex Mono";

/*-- scss:rules --*/

#title-slide {
  .title {
    color: $light-red;
    font-size: 2.5em;
    font-weight: 800;
    padding-bottom: 0.5em;
  }

  .subtitle {
    color: $dark-blue;
    font-size: 1.5em;
    font-weight: 500;
  }

  .quarto-title-author {
    padding-bottom: 0.5em;
  }

  .institute,
  .quarto-title-author-email {
    font-style: italic;
    font-size: 80%;
    color: #7F7F7F;
    padding-top: 0.3em;
  }

  .quarto-title-affiliation {
    color: #7F7F7F;
    font-size: 80%;
    padding-top: 0.8em;
  }

  .date {
    color: #7F7F7F;
  }

}

.reveal {
  .slide-background {
    background-color: $body-bg;
  }

  .controls,
  .progress {
    color: $light-red;
  }

  h2 {
    color: $dark-blue;
    margin-bottom: 1.5rem;
  }

  a {
    color: $dark-blue;
  }

  &.section {
    h1 {
      color: lighten($dark-blue, 35%);
    }
  }
}

.reveal .large {
  font-size: 1.5em !important;
  margin-left: 2em;
}

.reveal .huge {
  font-size: 2.5em !important;
}

.reveal .fit-vertical {
  display: block;
  margin: auto;
  max-height: 80vh; // adjust as needed (e.g. 100vh for full height)
}

.reveal .sourceCode {
  font-size: 2rem;
  border-radius: 4px;
}

.reveal .cell {
  margin-bottom: 1.5rem;
}

.reveal section div.center-h {
	text-align: center;
}
